src/__pycache__
.vscode

# Ag

debug.py
extra
ignore.txt
src/controls/__pycache__/

src/director/__pycache__/

src/sprites/__pycache__/

src/sprites/miscelaneous/__pycache__/

src/sprites/npcs/__pycache__/

src/sprites/player/__pycache__/

src/utils/__pycache__/
