[main]
WHITE = (255, 255, 255)
GRAY = (75, 75, 75)
BLACK = (0, 0, 0)
SCREEN_WIDTH = 20
SCREEN_HEIGHT = 20

[level]
TILE_SIZE = 32

[bullets]
RETARDO_ANIMACION_BALA = 7

[dinamic_sprites]
HORIZONTAL = 1
VERTICAL = 2
LEFT = 1
RIGHT = 2
UP = 3
DOWN = 4

[melee_enemy]
IDLE = 0
WALKING = 1
FIRING = 2
MELEE = 3
DIYING = 4
ATTACK_DURATION = 300
ATTACK_COOLDOWN = 100
MOVE_DURATION = 800
STOP_DURATION = 2500
NUM_FRAMES_PER_POSE = 2 4 2 5 1
COOLDOWN_ANIMATION = 25 50 0 0 0

[player]
IDLE = 0
ANDANDO = 1
AGACHADO = 2
ATACANDO = 3
TIEMPO_ATAQUE = 300
TIEMPO_RECARGA = 600
COOLDOWN_DAMAGE_TAKEN = 1500
