[director]
SCREEN_WIDTH = 800
SCREEN_HEIGHT = 600

[level]
TILE_SIZE = 32

[bullets]
RETARDO_ANIMACION_BALA = 7

[dynamic_sprites]
HORIZONTAL = 1
VERTICAL = 2
LEFT = 1
RIGHT = 2
UP = 3
DOWN = 4

[melee_enemy]
IDLE = 0
WALKING = 1
FIRING = 2
MELEE = 3
DIYING = 4
ATTACK_DURATION = 300
COOLDOWN_DURATION = 100
MOVE_DURATION = 800
STOP_DURATION = 2500
NUM_FRAMES_PER_POSE = 2 4 2 5 1
COOLDOWN_ANIMATION = 25 50 0 0 0

[player]
IDLE = 0
ANDANDO = 1
AGACHADO = 2
ATACANDO = 3
TIEMPO_ATAQUE = 300
TIEMPO_RECARGA = 600
COOLDOWN_DAMAGE_TAKEN = 1500

[object]
HEART_HEAL_VALUE = 1
